<html>
    <body>
        <form>
            <div style="float:left">
                <label for="file1">First File :</label>
                <input type = "file" id="file1"/>
            </div>
            <div style="float:left; clear: both;">
                <label for="file2">Second File :</label>
                <input type="file" id="file2"/>
            </div>
            <div style="float:left; clear: both;">
                <input type="submit" name="Evaluate" value="Evaluate"/>
            </div>
        </form>
    </body>
</html>